<!DOCTYPE html>
<html>
  <head>
    <title>User Register / Login Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">User Registration Home</header>
    <h1 class="title"><%= title %></h1>
    <div class="navigation_box">
      <div>
        <a href="/users/register" style="text-decoration: none"
          ><button class="register_button">Register</button></a
        >
      </div>
      <div>
        <a href="/users/login" style="text-decoration: none"
          ><button class="login_button">Login</button></a
        >
      </div>
    </div>
  </body>
</html>
