<!DOCTYPE html>
<html>
  <head>
    <title>Registered User Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="login_title">Login</h1>
    <form class="login_form" action="/users/login" method="POST">
      <div>
        <label style="display: inline-block; margin-right: 30px"> Email</label>
        <input type="email" name="email" placeholder="email" />
      </div>
      <div>
        <label style="display: inline-block; margin-right: 2px">Password</label>
        <input type="password" name="password" placeholder="password" />
      </div>

      <input type="submit" placeholder="Register" />
    </form>
  </body>
</html>
