<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header_logo">
        <a href="/article/list"><h1 style="color: white">Blog App</h1></a>
      </div>
      <div class="Enter_Box">
        <a href="/article/"
          ><button id="artcileForm_button">Article Form</button></a
        >
        <a href="/users/">
          <button id="register_button">Register</button>
        </a>
        <a href="/users/login">
          <button id="login_button">Login</button>
        </a>
      </div>
    </header>
    <div>
      <h1 style="text-align: center; font-size: 30px">Blogs</h1>
      <a href="/article/list" style="text-decoration: none">
        <button
          style="
            margin: 100px auto;
            display: block;
            width: 120px;
            height: 40px;
            font-size: 20px;
            border-radius: 5px;
          "
        >
          Articles
        </button>
      </a>
    </div>
  </body>
</html>
