<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="Home_Box">
        <h1>HOME</h1>
      </div>
      <div class="user_Buttons">
        <a href="/users/register"><button>Register</button></a>

        <a href="/users/login"><button>login</button></a>
      </div>
    </header>
    <h2>User Login Page</h2>
  </body>
</html>
