body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: none;
}

a {
  color: #00b7ff;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #00b7ff;
}
.title {
  text-align: center;
}
.navigation_box {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 500px;
  height: 130px;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
}
.register_button {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 20px;
}
.login_button {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 20px;
}

/* register */
.register_title {
  font-size: 30px;
  text-align: center;
}
.register_form {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 100px auto;
  border: 2px solid lightblue;
}

/* login form  */

.login_title {
  font-size: 30px;
  text-align: center;
}
.login_form {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 100px auto;
  border: 2px solid lightblue;
}
